<app-header-product></app-header-product>
<main class="dashboard">
    <h2>Bienvenido al Dashboard de Productos 🛒</h2>
    <a routerLink="/dashboard" class="back-button">
        ⬅️ Volver al Dashboard Principal
    </a>
    
    <div class="card-container">
        <a routerLink="/products/create" class="dashboard-card">
            ➕ Agregar Productos
        </a>

        <a routerLink="/products/view" class="dashboard-card">
            🪁 Ver Productos
        </a>
    </div>
</main>

<app-footer></app-footer>