<div class="create-music-form">
  <a routerLink="/musics" class="back-button">
    ⬅️ Volver al Dashboard Principal
  </a>
  <h2>Crear Nueva Música</h2>
  
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Título:</label>
      <input
        id="title"
        type="text"
        [(ngModel)]="title"
        name="title"
        placeholder="Escribe el título"
        (ngModelChange)="onChangeTitle($event)"
      />
    </div>

    <div class="form-group">
      <label for="gender">Género:</label>
      <input
        id="gender"
        type="text"
        [(ngModel)]="gender"
        name="gender"
        placeholder="Escribe el género"
        (ngModelChange)="onChangeGender($event)"
      />
    </div>

    <button class="btn-submit" type="submit">Crear Música</button>
  </form>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>
</div>
